@use "../../common/styles/variables" as *;

.Login-container {
  background-color: var(--color-white);
  color: var(--color-black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
