.HeaderRoutine-container {
  position: relative;
  height: 30vh;
  background: var(--color-white);
  display: flex;
  align-items: end;
  background-image: url(@assets/images/pesas.webp);
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000c7;
  }

  .header-info {
    flex-grow: 1;
    width: 100%;
    display: flex;
    padding: 20px 30px;
    z-index: 10;
    .title-container {
      flex-grow: 1;
      .info-title {
        color: var(--color-primary);
        font-size: 35px;
        flex-grow: 1;
      }

      .info-subtitle {
        font-size: 15px;
        color: var(--color-light-gray);
      }
    }

    .info-date {
      display: flex;
      align-items: center;
      font-weight: bold;
      color: var(--color-white);
      flex-grow: 0;
    }
  }
}
