.Trainers-container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .trainer-header {
    height: 20vh;
    padding: 20px;
    background: var(--color-white);
    display: flex;
    align-items: end;
    justify-content: space-around;

    .header-title {
      color: var(--color-primary);
      font-size: 34px;
    }
  }


  .Browser{
    padding: 20px;


    input{
      width: 90%;
      height: 20px;
      padding: 10px 10px 10px 20px ;
      background-color: var(--color-light-gray);
      border: none;
      border-radius: 10px;
    }
  }
}