@use "../../common/styles/variables" as *;

.Landing-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $color-white;
  .logo {
    display: flex;
    align-items: center;
    min-height: 60vh;
    img {
      max-width: 400px;
      max-height: 400px;
    }
  }

  .buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $color-black;
      border-radius: 2px;
      height: 38px;
      min-width: 180px;
    }
    a#login {
      border: 1px solid $color-white;
      background-color: $color-primary;
      color: #fff;
      &:hover {
        opacity: 0.9;
        transform: scale(1.01);
      }
    }
    a#register {
      border: 1px solid $color-primary;
      background-color: $color-white;
      color: $color-primary;
      &:hover {
        opacity: 0.98;
        transform: scale(1.01);
      }
    }
  }

  // @media only screen and (max-width: 767px) {
  // }
}
