.EmojisContainer {
    padding: 0 50px;
    background-color: var(--color-gray);
    background-size: cover;
    background-position: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    gap: 50px;
    text-align: left;
    img{
        
        width: 150px;
        background-color: rgb(223, 221, 221);
        border-radius: 50%;
        padding: 15px;
        margin-left: 20px ;
        
    }
    h1 {
      font-size: 35px;
      color: var(--color-black);
      font-weight: 900;
      font-style: italic;
      
    }
    p {
      font-size: 14px;
      color: var(--color-dark-gray);
      margin: -25px 0;
      

    } }