button {
  display: flex;
  align-items: center;
  flex-direction: row;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  font-weight: bold;
  a {
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }
  &:hover {
    border-color: #888;
    outline: 0;
    text-decoration: none;
    text-shadow: 0px -1px 6px #fff;
    transform: scale(1.1);
    transition: 0.1s;
  }
}
