.button-type-1 {
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-gray);
  border-radius: var(--border-button);
  height: var(--height-button);
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    transform: scale(1.01);
  }
}

.button-type-2 {
  border: 1px solid var(--color-primary);
  background-color: var(--color-white);
  color: var(--color-primary);
  border-radius: var(--border-button);
  height: var(--height-button);
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
    transform: scale(1.01);
  }
}

.button-google {
  border: 1px solid var(--color-primary);
  background-color: var(--color-gray);
  color: var(--color-primary);
  border-radius: var(--border-button);
  height: var(--height-button);
  width: 100%;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 25px;
    height: 25px;
  }
}
