.Days-container {
  .Main-container {
    padding: 20px 10px;

    .days-titulo {
      text-align: center;
      color: var(--color-secondary);
      text-transform: capitalize;
      margin: 20px 0;
      font-size: 20px;
    }

    .slick-prev,
    .slick-next {
      height: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 0 2.5rem;
      z-index: 100;

      &:before {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, 50%);
        font-size: 30px;
        color: var(--color-black);
      }
    }

    .slick-slide {
    }

    .container-card {
      .day {
        width: 100%;
        min-height: 30vh;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .day-exercise__info {
          text-transform: capitalize;
          margin-top: 60px;
          padding-left: 30px;
        }
      }
    }
  }
}
