.BecomeTrainer-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
  background-position: 0;
  align-items: center;
  main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }
}
