.Routines-container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--color-black);

  .subtitle-current,
  .subtitle-history {
    font-size: 13px;
  }

  .subtitle-current {
    margin: 15px 0;
  }

  .subtitle-history {
    margin: 25px 0 15px 0;
  }
}
