@media only screen and (max-width: 767px) {

.FormLogin-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  max-width: 400px;
  #o {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
  }
  
  #o::before,
  #o::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: rgb(255, 255, 255);
  }
  
  #o::before {
    top: 50%;
    left: 0px;
  }
  
  #o::after {
    top: 50%;
    right: 0px;
  }

  label{
    font-size: 1.2rem;
  }

  input{
    margin: 5px 0;
    font-size: 1rem;
    padding: 1rem;
  }
  button{
    background-color: #fff;
    cursor: pointer;
    border: 1px solid #000;
    margin:10px 0;
    font-size: 1rem;
    padding: 1rem;
    font-weight: bold;

    &:hover{
      background-color: #000;
      color:#fff;
    }
  }
  .-p {
    display: flex;
    gap: 0.6rem;
    justify-content: center;
    a {
      &:hover {
        text-decoration: underline;
        line-height: 1;
      }
    }
  }
}

}
@media only screen and (min-width: 768px) {
  .FormLogin-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    max-width: 400px;
    #o {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      font-size: 20px;
      font-weight: bold;
      margin: 10px;
    }
    
    #o::before,
    #o::after {
      content: "";
      position: absolute;
      width: 100px;
      height: 2px;
      background-color: rgb(255, 255, 255);
    }
    
    #o::before {
      top: 50%;
      left: 0px;
    }
    
    #o::after {
      top: 50%;
      right: 0px;
    }
  
    label{
      font-size: 1.2rem;
    }
  
    input{
      margin: 5px 0;
      font-size: 1rem;
      padding: 1rem;
    }
    button{
      background-color: #fff;
      cursor: pointer;
      border: 1px solid #000;
      margin:10px 0;
      font-size: 1rem;
      padding: 1rem;
      font-weight: bold;
  
      &:hover{
        background-color: #000;
        color:#fff;
      }
    }
    .-p {
      display: flex;
      gap: 0.6rem;
      justify-content: center;
      a {
        &:hover {
          text-decoration: underline;
          line-height: 1;
        }
      }
    }
  }
}