.FormLogin-container {
  display: flex;
  flex-direction: column;
  max-width: 300px;

  label {
    font-size: 14px;
    font-weight: 600;
  }
  .input-container {
    display: flex;
    flex-direction: column;
    padding: 10px;

    .error-container {
      border-radius: var(--border);
      margin-bottom: 10px;
      overflow: hidden;
      p {
        background: var(--color-error);
        padding: 5px 10px;
        font-size: 12px;
        font-weight: 600;
        color: var(--color-white);
      }
    }

    .input {
      font-size: 14px;
      border: none;
      border-radius: var(--border-input);
      height: 40px;
      width: 240px;
      padding: 0 10px;
      margin-top: 10px;
    }
  }

  .buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    gap: 6px;
    .button-login {
      border: 1px solid var(--color-primary);
      background-color: var(--color-primary);
      color: var(--color-gray);
      border-radius: var(--border-button);
      height: var(--height-button);
      width: 260px;
      font-size: 14px;
      font-weight: 600;
      &:hover {
        cursor: pointer;
        opacity: 0.9;
        transform: scale(1.01);
      }
    }

    .button-google {
      border: 1px solid var(--color-primary);
      background-color: var(--color-gray);
      color: var(--color-primary);
      border-radius: var(--border-button);
      height: var(--height-button);
      width: 240px;
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 25px;
        height: 25px;
      }

      &:hover {
        cursor: pointer;
        opacity: 0.9;
        transform: scale(1.01);
      }
    }
  }

  .-p {
    display: flex;
    gap: 10px;
    justify-content: center;
    font-size: 12px;
    color: var(--color-light-gray);
    a {
      color: var(--color-black);
      font-weight: bold;
      &:hover {
        text-decoration: underline;
        line-height: 1;
      }
    }
  }
}
