.Input-container {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  label {
    font-size: 14px;
    font-weight: 600;
  }
  input {
    font-size: 14px;
    border: none;
    border-radius: var(--border-input);
    padding: var(--padding-input);
    margin-top: 10px;
  }
}

.InputLittle-container {
  display: flex;
  flex-direction: column;
  width: 45%;
  label {
    font-size: 14px;
    font-weight: 600;
  }
  input {
    font-size: 14px;
    border: none;
    border-radius: var(--border-input);
    padding: var(--padding-input);
    margin-top: 10px;
  }
}

.container-input-radio {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
  .input-radio {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--color-secondary);
    outline: none;
    cursor: pointer;
  }

  .input-radio:checked {
    background: var(--color-secondary);
  }

  .input-date {
    color: var(--color-secondary);
  }
}
