@use "fonts";
@use "variables";
@use "normalize";

// componentes

// pages

@use "../../pages/Landing/Landing.scss";
@use "../../pages/Home/Home.scss";
@use "../../pages/Login/Login.scss";
@use "../../pages/Register/Register.scss";

// pages components

@use "../../pages/Login/components/FormLogin/FormLogin.scss";
@use "../../pages/Register/components/FormRegister/FormRegister.scss";

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", Helvetica, Sans-Serif;
}

body {
  min-height: 100vh;
}
