@use "fonts";
@use "variables" as *;
@use "normalize";

// componentes

@use "../../components/Header/Header.scss";
@use "../../components/Nav/Nav.scss";
@use "../../components/FormAuth/FormAuth.scss";
@use "../../components/Inputs/input.scss";
@use "../../components/Button/Buttons.scss";
@use "../../components/Form/Form.scss";

// pages
@use "../../pages/Landing/Landing.scss";
@use "../../pages/Home/Home.scss";
@use "../../pages/Login/Login.scss";
@use "../../pages/Register/Register.scss";
@use "../../pages/Rutine/Rutine.scss";
@use "../../pages/Profile/Profile.scss";

// pages components

@use "../../pages/Register/components/Step1/Step1.scss";
@use "../../pages/Register/components/Step2/Step2.scss";
@use "../../pages/Register/components/Step3/Step3.scss";

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", Helvetica, Sans-Serif;
}

body {
  min-height: 100vh;
  background: var(--color-gray);
}
