.Navbar-container {
  display: flex;
  flex-direction: row;
  background-color: #000;
  color: #fff;
  position: absolute;
  bottom: 0;
  min-width: 100%;
  height: 90px;
  align-items: center;
  justify-content: space-around;
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
    height: 40px;
    width: 60px;
  }
}
