.CardExercise {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 var(--border) var(--border) 0;
  padding: 10px 15px;
  background: var(--color-white);
  box-shadow: var(--shadow);
  font-size: 14px;

  .check {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid var(--color-primary);
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .exercise-name {
    }

    .exercise-info {
      display: flex;
      gap: 10px;
    }

    .info-repes {
      color: var(--color-primary);
      font-weight: 700;
    }

    .info-RIR {
      color: var(--color-dark-gray);
      font-weight: 500;
    }

    .info-RPE {
      color: var(--color-dark-gray);
      font-weight: 500;
    }
  }
}
