
  .FormRegister-container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    
    input{
      margin-top: 7px;
      padding: 12px 50px 12px 15px;
      border-radius: var(--border);
      border: none;
      
    }
  }


  
  
