.FormRegister-container {
  .container-redirect {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    font-size: 12px;
    color: var(--color-light-gray);
    a {
      color: var(--color-black);
      font-weight: bold;
      &:hover {
        text-decoration: underline;
        line-height: 1;
      }
    }
  }
}
