$main-background: #ccdeee;
main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: $main-background;


    section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .user{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            gap: 2rem;
            .ph-mail{
                display: flex;
                gap: 0.3rem;
                align-items: center;
                img{
                    width: 2rem;
                   }
            }
          
        }
    }
    h1{
        font-weight: 400;
    }

    

}
