.Header-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: var(--color-white);
  pointer-events: all;

  .container-logo {
    img {
      cursor: pointer;
      width: 90px;
      height: 70px;
      object-fit: contain;
    }
  }
  .menu-icono {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 40px;
    height: 100%;
    cursor: pointer;
    &:hover {
      transform: scale(0.9);
      transition: 1s;
    }
  }
  .menu {
    position: absolute;
    background-color: var(--color-white);
    width: 100%;
    height: fit-content;
    top: -500px;
    z-index: -1;
    padding-top: 50px;
    padding-left: 10px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;

    .container-link {
      width: 100%;
      margin: 25px 0px;
      display: flex;
      flex-direction: column;
      list-style-type: none;
      align-items: center;
      .link {
        cursor: pointer;
        color: var(--color-dark-gray);
        font-size: 14px;
        font-weight: bold;
        padding: 15px 50px;
        width: 100%;
        &:hover {
          background-color: #eeeeee;
          transform: translate(15px);
          transition: 1s;
        }
      }
      a {
        min-width: 100px;
      }
      .logout {
        color: var(--color-error);
      }
      .trainer {
        &:hover {
          background-color: #dfdeff;
          color: #0026ff;
          transform: translate(15px);
          transition: 1s;
        }
      }
    }
  }

  .active {
    top: 0;
  }
}
