.Header-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //flex-direction: row-reverse;
  background: var(--color-white);
  pointer-events: all;
  padding: 15px 0;

  .container-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 15px;

    img {
      cursor: pointer;
      width: 50px;
      height: 30px;
      object-fit: contain;
    }
  }
  .icono-menu {
    margin: 0 15px;
    transition: 0.5s;
    cursor: pointer;
    &:hover {
      transform: scale(0.9);
    }
  }

  .icono-lupa {
    margin: 0 15px;
    transition: 0.5s;
    transform: rotateY(180deg);
    cursor: pointer;
    &:hover {
      transform: scale(0.9);
    }
  }
  .menu {
    position: absolute;
    background-color: var(--color-white);
    width: 100%;
    height: fit-content;
    top: -500px;
    z-index: -1;
    padding-top: 50px;
    padding-left: 10px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;

    .container-link {
      width: 100%;
      margin: 25px 0px;
      display: flex;
      flex-direction: column;
      list-style-type: none;
      align-items: center;
      .link {
        cursor: pointer;
        color: var(--color-dark-gray);
        font-size: 14px;
        font-weight: bold;
        padding: 15px 50px;
        width: 100%;
        transition: 0.3s;
        &:hover {
          background-color: #eeeeee;
        }
      }
      a {
        min-width: 100px;
      }
      .logout {
        color: var(--color-error);
      }
      .trainer {
        transition: 0.3s;
        &:hover {
          background-color: #dfdeff;
          color: var(--color-primary-trainer);
        }
      }
    }
  }

  .active {
    top: 0;
  }
}
