.CardWeek {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 10px;
  .header-cardweek {
    display: flex;
    align-items: center;
    gap: 10px;

    .titulo {
      font-size: 15px;
      color: var(--color-dark-gray);
    }

    .cubo {
      width: var(--size-cubo);
      height: var(--size-cubo);
      background: var(--color-primary);
      border-radius: 3px;
    }
  }
}
