.Step2-container {
  margin-bottom: 30px;
  .logo-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    img {
      width: 148px;
      height: 104px;
    }
  }
}
