.Step2-container {
  padding-bottom: 35px;
  .logo-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    img {
      width: 148px;
      height: 104px;
    }
  }
}
