.FormDetails-container {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  height: 60vh;
  justify-content: space-evenly;

  .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    label {
      color: black;
      font-weight: bold;
      font-size: 14px;
      font-weight: 600;
    }

    .input-container-names {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }

    .input-container-radio {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    .input-container {
      display: flex;
      flex-direction: column;

      .input {
        font-size: 14px;
        border: none;
        border-radius: var(--border-input);
        height: 40px;
        width: 260px;
        padding: 0 00px 0px 10px;
        margin-top: 10px;
      }

      .name {
        max-width: 120px;
      }
    }
  }

  .buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;

    .button-next {
      border: 1px solid var(--color-primary);
      background-color: var(--color-primary);
      color: var(--color-gray);
      border-radius: var(--border-button);
      height: var(--height-button);
      width: 270px;
      font-size: 14px;
      font-weight: bold;

      &:hover {
        cursor: pointer;
        opacity: 0.9;
        transform: scale(1.01);
      }
    }

    .button-previous {
      border: 1px solid var(--color-primary);
      background-color: var(--color-gray);
      color: var(--color-primary);
      border-radius: var(--border-button);
      height: var(--height-button);
      width: 270px;
      font-size: 14px;
      font-weight: bold;

      &:hover {
        cursor: pointer;
        opacity: 0.9;
        transform: scale(1.01);
      }
    }
  }

  .button-google {
    border: 1px solid var(--color-primary);
    background-color: var(--color-gray);
    color: var(--color-primary);
    border-radius: var(--border-button);
    height: var(--height-button);
    width: 240px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 25px;
      height: 25px;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.9;
      transform: scale(1.01);
    }
  }

  .-p {
    display: flex;
    gap: 10px;
    justify-content: center;
    font-size: 12px;
    color: var(--color-light-gray);
    a {
      color: var(--color-black);
      font-weight: bold;
      &:hover {
        text-decoration: underline;
        line-height: 1;
      }
    }
  }
}
