.header-container {
    display: flex;
    background-color: #000;
    margin: 0;
    padding: 0;
    justify-content: center;

    .link-container {
        list-style: none;
        margin: 0;
    }


    .header-title {
        display: flex;
        height: 200px;
        align-items: center;

        h1{
            margin: 0;
        }
        
    }
}
