.header-container {
  display: flex;
  background-color: #000;
  margin: 0;
  padding: 0;
  height: 100px;

  .nav-container {
    display: flex;
    align-items: center;

    .buttons-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        padding: 0 1rem;
        margin: 0;
    }
  }
}
