.header-container {
    display: flex;
    background-color: #000;
    margin: 0;
    padding: 0;
    justify-content: center;

    .title {
        display: flex;
        height: 200px;
        align-items: center;

        h1{
            margin: 0;
        }
        
    }
}
