.CardMesociclos {
  display: flex;
  flex-direction: column;
  background: var(--color-white);
  min-height: 100px;
  border-radius: var(--border);
  overflow: hidden;
  cursor: pointer;
  box-shadow: var(--shadow);

  header {
    h2 {
      font-size: 20px;
    }
    flex-grow: 0;
    padding: 15px 10px;
    background: var(--color-dark-gray);
    color: var(--color-white);
  }

  main {
    padding: 10px;
    span {
      color: var(--color-dark-gray);
    }
    p {
      flex-grow: 1;
      font-weight: 600;
      font-size: 17px;
    }
  }
}
