.CardMesociclos {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  border-radius: var(--border);
  overflow: hidden;

  .header-mesociclo {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 0;
    padding: 20px;
    color: var(--color-black);

    .triangle {
      width: 0;
      height: 0;
      border-top: 13px solid var(--color-primary);
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
    }

    h2 {
      font-size: 20px;
    }
  }

  .main-mesociclo {
    padding: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    span {
      color: var(--color-black);
    }
    p {
      padding: 10px;
      color: var(--color-dark-gray);
      flex-grow: 1;
      font-weight: 700;
      font-size: 16px;
      letter-spacing: -1px;
      background: var(--color-white);
      box-shadow: var(--shadow);
    }
  }
}
