@use "fonts";
@use "variables";
@use "normalize";

// componentes

@use "@components/Header/Header.scss";
@use "@components/NavbarUser/NavbarUser.scss";
@use "@components/NavbarTrainer/NavbarTrainer.scss";
@use "@components/Inputs/input.scss";
@use "@components/Button/Buttons.scss";
@use "@components/Form/Form.scss";
@use "@components/ImagePerfil/ImagePerfil.scss";
@use "@components/HeaderRoutine/HeaderRoutine.scss";
@use "@components/Spinner/Spinner.scss";
@use "@components/CustomCarrusel/CustomCarrusel.scss";
@use "@components/Footer/Footer.scss";

// pages

@use "@pages/Landing/Landing.scss";
@use "@pages/Login/Login.scss";
@use "@pages/Register/Register.scss";

// pages user

@use "@pages/user/Home/Home.scss";
@use "@pages/user/Routine/Routine.scss";
@use "@pages/user/Routines/Routines.scss";
@use "@pages/user/Profile/Profile.scss";
@use "@pages/user/BecomeTrainer/BecomeTrainer.scss";
@use "@pages/user/Mesociclo/Mesociclo.scss";
@use "@pages/user/Day/Day.scss";

// pages components

@use "@pages/Login/components/FormLogin/FormLogin.scss";
@use "@pages/Register/components/FormRegister/FormRegister.scss";

// pages user component

@use "@pages/user/Mesociclo/components/CardWeek/CardWeek.scss";
@use "@pages/user/Mesociclo/components/ListOfDays/ListOfDays.scss";
@use "@pages/user/Mesociclo/components/ListOfWeeks/ListOfWeeks.scss";
@use "@pages/user/Home/components/EmojisContainer/EmojisContainer.scss";
@use "@pages/user/Mesociclo/components/CardDay/CardDay.scss";
@use "@pages/user/Routines/components/CardRoutine/CardRoutine.scss";
@use "@pages/user/Routines/components/ListOfRoutines/ListOfRoutines.scss";

// pages trainer components

@use "@pages/trainer/CreateRoutine/CreateRoutine.scss";

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", Helvetica, Sans-Serif;
}

body {
  min-height: 100vh;
  background: var(--color-gray);
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 10px;
    background-color: var(--color-gray);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-light-gray);
    border-radius: 5px;
  }
}
